<app-todos-filters
  [filtersData]="filtersData"
  (filtersDataChanged)="filtersDataChangeHandler($event)"
></app-todos-filters>

<div class="loading" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<ng-container *ngIf="listData$ | async as listData">
  <mat-paginator
    [length]="listData?.totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    (page)="paginatorChangeHandler($event)"
  >
  </mat-paginator>
  <table
    #table
    mat-table
    [dataSource]="listData.items"
    class="mat-elevation-z8 table"
    matSort
    (matSortChange)="sortChangeHandler($event)"
  >
    <ng-container matColumnDef="ordinalNumber">
      <th mat-header-cell *matHeaderCellDef>Lp.</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ getOrdinalNumber(i) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>userId</th>
      <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tytuł</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.completed }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Akcje</th>
      <td mat-cell *matCellDef="let element">actions</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; let i = index"
    ></tr>
  </table>
</ng-container>
