:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  height: 60px;
  background: linear-gradient(to right, #8e2de2, #4a00e0);

  display: block;
  width: 100%;
}
